.vs/
/MSS.WLIM.Department.API/LOG
/MSS.WLIM.Designation.API/LOG
/MSS.WLIM.Login.API/LOG
/MSS.WLIM.LostItemRequest.API
/MSS.WLIM.User.API/LOG
/MSS.WLIM.DataServices/obj
/MSS.WLIM.Department.API/obj
/MSS.WLIM.Designation.API/obj
/MSS.WLIM.Login.API/obj
/MSS.WLIM.Role.API/obj
/MSS.WLIM.User.API/obj
/MSS.WLIM.DataServices/bin/Debug/net8.0
/MSS.WLIM.Department.API/bin/Debug/net8.0
/MSS.WLIM.Designation.API/bin/Debug/net8.0
/MSS.WLIM.IdentifiedItems.API/bin/Debug/net8.0
/MSS.WLIM.IdentifiedItems.API/obj/Debug/net8.0
/MSS.WLIM.IdentifiedItems.API/obj
/MSS.WLIM.Login.API/bin/Debug/net8.0
/MSS.WLIM.Role.API/bin/Debug/net8.0
/MSS.WLIM.User.API/bin/Debug/net8.0
